body {
  background: white;
}

#map-canvas {
  height: 92vh;
  width: 100vw;
  margin: 0;
}

img.logo {
  width: 140px;
  height: 30px;
}

nav.navbar.navbar-light.bg-faded {
  // margin-left: -140px;
  background-color: white;
  border-radius: 0px;

  a.navbar-brand {
    color: black;
    margin-left: -74px;
  }

  a.nav-link {
    color: black;
  }
}

.modal-content, .modal-body {
 margin: 0;
 padding: 0;
 overflow: hidden;
 text-align: center;
   background: #e2e2e2;
   border: 1px solid white;
   border-radius: 4px;
   h2{
     color: #999999;
   }
     input.form-control-register{
       width: 580px;
       height: 40px;
       margin: auto;
       border: 2px solid #999999;
       border-radius: 4px;
       text-align: center;
   }
       .form-control-login{
         width: 580px;
         height: 40px;
         margin: auto;
         border: 2px solid #999999;
         border-radius: 4px;
         text-align: center;
     }
     iframe {
       border: 3px solid white;
       border-radius: 4px;
       margin-bottom: 4px;
       width: 98%;
     }
     p{
       color: #999999;
     }
}

.info-content {
  height: 400px;
}

ul.nav.nav-tabs {
  margin-top: 6px;
  margin-bottom: 5px;
  margin-right: 4px;
  background: white;
  border-radius: 4px;
  display: inline-flex;
  height: 36px;
  width: 300px;
  border: 2px solid #999999;
  text-decoration: none;
    a{
      margin-left: 20px;
      color: #999999;
      font-size: 22px;
    }
}

span{
  font-style: bold;
}

input.btn.btn-primary {
  background: white;
  border: 2px solid #999999;
  color: #999999;
  margin-bottom: 12px;
}
