html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
}

#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

img.logo {
  width: 140px;
  height: 30px;
}

nav.navbar.navbar-light.bg-faded {
  width: 186px;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-left: 10px;
  margin-left: 548px;
  margin-top: 12px;
  }
  a.navbar-brand {
    font-family: 'Shrikhand', cursive;
    font-family: 'Righteous', cursive;
    margin-left: -74px;
  }
  a.nav-link {
    font-family: 'Shrikhand', cursive;
    font-family: 'Righteous', cursive;
    color: #000000;
    margin-left: -8px;
   }
  }
}

.modal-content, .modal-body {
 margin: 0;
 padding: 0;
 overflow: hidden;
 text-align: center;
   background: #e2e2e2;
   border: 1px solid white;
   border-radius: 4px;
   h2{
     color: #999999;
     font-family: 'Shrikhand', cursive;
     font-family: 'Righteous', cursive;
   }
      .form-control-register{
       font-family: 'Shrikhand', cursive;
       font-family: 'Righteous', cursive;
       width: 580px;
       height: 40px;
       margin: auto;
       border: 2px solid #999999;
       border-radius: 4px;
       text-align: center;
   }
       .form-control-login{
         font-family: 'Shrikhand', cursive;
         font-family: 'Righteous', cursive;
         width: 580px;
         height: 40px;
         margin: auto;
         border: 2px solid #999999;
         border-radius: 4px;
         text-align: center;
     }
     iframe {
       border: 3px solid white;
       border-radius: 4px;
       margin-bottom: 4px;
       width: 98%;
     }
     p{
       font-family: 'Shrikhand', cursive;
       font-family: 'Righteous', cursive;
       color: #999999;
     }
}

.info-content {
  height: 400px;
}

ul.nav.nav-tabs {
  font-family: 'Shrikhand', cursive;
  font-family: 'Righteous', cursive;
  margin-top: 6px;
  margin-bottom: 5px;
  margin-right: 4px;
  background: white;
  border-radius: 4px;
  display: inline-flex;
  height: 36px;
  width: 324px;
  border: 2px solid #999999;
  text-decoration: none;
    a{
      font-family: 'Shrikhand', cursive;
      font-family: 'Righteous', cursive;
      margin-left: 20px;
      color: #999999;
      font-size: 22px;
    }
}

input.btn.btn-primary {
  background: white;
  border: 2px solid #999999;
  color: #999999;
  margin-bottom: 12px;
}
