body {
  background: #17263c;
}

#map-canvas {
  height: 92vh;
  width: 100vw;
  margin: 0;
}

nav.navbar.navbar-light.bg-faded {
  margin-left: -140px;
  background-color: #17263c;
  border-radius: 0px;

  a.navbar-brand {
    color: #d59563;
  }

  a.nav-link {
    color: #d59563;
  }
}

.modal-content, .modal-body {
 background: white;
 margin: 0;
 padding: 0;
 overflow: hidden;
 text-align: center;
}

.info-content {
  height: 400px;
}
